<h1> Employee Details </h1>
    <p> 
       <span> <%= link_to "Back tiHome |", root_path %> </span>
       <span> <%= link_to "Edit |", edit_employee_path(employee) %> </span>
        <%= link_to "Delete", employee_path(employee) %> 
    </p>